.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%
  ;
}
.flex-container{
    display: flex;
    max-width: 700px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.Title{
  color: #fff;
}

@media screen and (max-width: 1000px){
  .flex-container{
    display: flex;
    max-width: 400px;
    justify-content: space-around;
    align-items: center;
}
}